<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="../../components/Calendar/index.css">
    </link>
</head>

<body>
    <div id="app">
        <Calendar :week-starts-on-sunday="true" style="height: 900px;margin: 100px auto;">
            <!-- <template #day-body="{ dates }">
                <template v-for="event in eventDistribution[date.dateString]">
                    <div v-if="event.isFirstDay" @mouseenter="handleMouseEnter(event)" @mouseleave="handleMouseLeave"
                        :key="event.id" :style="eventStyle(event)" class="text-overflow event-item" :title="event.title"
                        style="z-index: 1;">
                        {{ event.title }}
                    </div>
                </template>
            </template> -->
            <template #default="{ date }">
                <template v-for="event in eventDistribution[date.getISODate()]">
                    <div v-if="event.isFirstDay" @mouseenter="handleMouseEnter(event)" @mouseleave="handleMouseLeave"
                        :key="event.id" :style="eventStyle(event)" class="text-overflow event-item" :title="event.title"
                        style="z-index: 1;">
                        {{ event.title }}
                    </div>
                </template>
            </template>
        </Calendar>
    </div>
    <script src="./index.js" type="module"></script>
</body>

</html>